<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="conStr"
             connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BookCollectionDb;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
